@page
@model CreateRoleViewModel
@{
    ViewBag.Title = "Create New Role";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1> Create New Role</h1>
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleNmae" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create Role</button>
</div>
        </div>
</form>


